
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<body>
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mb-1" href="/Home/Index">
                    <img src="~/ReviewMe/ReviewMe/assets/images/yeniLogo3.png" style="width:220px; height:53px;">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Home/Index">Ana Sayfa</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="/Content/GetContents">Değerlendirmeler</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link  active " href="/Content/Contact">İletişim</a>
                    </li>
                    <li class="nav-item ">
                            <a class="nav-link " href="/Home/LoginRegister">Kayıt Ol/Giriş Yap</a>
                    </li>

                </ul>
                <form action="#search" method="GET" class="d-flex search-header ms-lg-2">
                    <input class="form-control" type="search" placeholder="Ara..." aria-label="Search"
                           required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
        
    </div>
</header>
<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title font-weight-bold pt-5">Bize Ulaşın</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Ana Sayfa</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>İletişim</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- contact section -->
<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            <h3 class="title-style">Bize Ulaşın</h3>
        </div>
        <div class="contact-grids d-grid">
            <div class="contact-left-img">
                    <img src="~/ReviewMe/ReviewMe/assets/images/painter3.jpg" class="img-fluid radius-image" alt="">
            </div>
            <div class="contact-right">
                <form action="" method="post" class="signin-form">
                    <div class="input-grids">

                        <input type="text" name="w3lName" id="w3lName" placeholder="İsminiz"
                               class="contact-input" required="" />
                        <input type="email" name="w3lSender" id="w3lSender" placeholder="E-Posta Adresiniz"
                               class="contact-input" required="" />
                        <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Konu"
                               class="contact-input" required="" />
                       
                    </div>
                    <div class="form-input">
                        <textarea name="w3lMessage" id="w3lMessage" placeholder="Mesajınızı Yazınız"
                                  required=""></textarea>
                    </div>
                    <div class="form-buttonhny text-lg-end">
                        <button class="btn btn-style btn-primary">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="map-iframe mt-5 pt-md-4">
           @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
                    width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>*@
                <iframe style="filter: invert(5%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d529.6584229676865!2d36.263888187621944!3d41.32625327262788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408878f9ab74f149%3A0xd5298ec24082799f!2s%C4%B0stiklal%2C%20889.%20Sk.%20No%3A8%2C%2055200%20Atakum%2FSamsun!5e0!3m2!1str!2str!4v1671876141888!5m2!1str!2str" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- //contact section -->
    
</body>

</html>