@{
    ViewData["Title"] = "Home Page";

}
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mb-1" href="/Home/Index">
                 <img src="~/ReviewMe/ReviewMe/assets/images/yeniLogo3.png" style="width:220px; height:53px;">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Ana Sayfa</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="/Profile/index">Değerlendirmeler</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/Content/Contact">İletişim</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/Home/LoginRegister">Kayıt Ol/Giriş Yap</a>
                    </li>
                </ul>
                <form action="#search" method="GET" class="d-flex search-header ms-lg-2">
                    <input class="form-control" type="search" placeholder="Ara..." aria-label="Search"
                           required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
        
    </div>
</header>

 <!-- banner section -->

    <section class="w3l-main-slider" id="home">
        <div class="banner-content">

            <div id="demo-1"
             data-zs-src='["/ReviewMe/ReviewMe/assets/images/tutord.jpg",
                "/ReviewMe/ReviewMe/assets/images/plumberd.jpg",
                "/ReviewMe/ReviewMe/assets/images/barber.jpg",
                "/ReviewMe/ReviewMe/assets/images/cleaner.jpg"]'
                data-zs-overlay="dots">
                <div class="demo-inner-content text-center">
                    <div class="container">
                        <div class="banner-info">                                                     
                            <h3 class="mt-2 mb-5">Aldığın Hizmeti Değerlendir</h3>
                            <a href="#" class="btn btn-style mt-4">Değerlendir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

    </section>
    <!-- //banner section -->


    <!-- courses section -->
    <section class="w3l-courses py-5" id="courses">
        <div class="container pb-lg-5 pb-md-4 pb-2">          
            <h3 class="title-style text-center">Değerlendirmeler</h3>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                        <a href="/Content/GetContents" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="~/ReviewMe/ReviewMe/assets/images/plumber2.jpg" alt="Card image cap">
                            </a>                         
                        </div>
                        <div class="card-body course-details">
                        <a href="/Content/GetContents" class="course-desc">
                            Tesisatçı
                            </a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 120 değerlendirme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                        <a href="/Content/GetContents" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="~/ReviewMe/ReviewMe/assets/images/tutor2.png" alt="Card image cap">
                            </a>

                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                            </div>
                            <a href="/Content/GetContents" class="course-desc">Özel Ders Öğretmeni </a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value "> 82  değerlendirme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                        <a href="/Content/GetContents" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="~/ReviewMe/ReviewMe/assets/images/painter2.jpg" alt="Card image cap">
                            </a>

                        </div>
                        <div class="card-body course-details">
                            <a href="/Content/GetContents" class="course-desc">Boyacı</a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 74 değerlendirme</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 mx-auto text-more text-center pt-lg-4">
                <a href="/Content/GetContentsJobs" class="btn btn-style">Tüm Değerlendirmeler</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //courses section -->

    <!-- why section -->
    <section class="w3l-whyblock py-5">
        <div class="pb-lg-5 pb-md-4 pb-2">
            <div class="row align-items-center m-0">
                <div class="col-lg-6 ps-0">
                <img src="~/ReviewMe/ReviewMe/assets/images/electirician.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 ps-xl-5 ps-lg-4 mt-lg-0 mt-5">
                    <h5 class="sub-title">Özelliklerimiz</h5>
                    <h3 class="title-style mb-4">Neden Biz</h3>
                <p>Amacımız, insanların aldıkları hizmetleri objektif bir şekilde değerlendirme fırsatı sunmaktır. 
                    Böylece, gerçek hizmetlerin kalitesi hakkında daha doğru bir fikir edinebilir, doğru seçimler yapabilirsiniz.</p>
                    <div class="two-grids mt-5">
                        <div class="grids_info">
                        <i class="fas fa-solid fa-comment"></i>
                            <div class="detail">
                                <h4>Objektif Değerlendirme</h4>
                            <p>Uygulamamızda, meslek sahiplerinin yapılan hizmetlerini objektif olarak değerlendirme fırsatı sunuyoruz.
                                Bu sayede, gerçek hizmetlerin kalitesi hakkında daha doğru bir fikir edinebilirsiniz.</p>
                            </div>
                        </div>
                        <div class="grids_info mt-xl-5 mt-lg-4 mt-5">
                        <i class="fas fa-solid fa-check"></i>
                            <div class="detail">
                                <h4>Spam Yorumların Önüne Geçme</h4>
                            <p>Meslek sahiplerine yapılan spam yorumların önüne geçmek amacıyla, admin tarafında gelişmiş algoritmalar kullanıyoruz. 
                                Böylece, sizler gerçek hizmetler hakkında daha doğru bilgiye sahip olabilirsiniz.</p>
                            </div>
                        </div>
                        <div class="grids_info mt-xl-5 mt-lg-4 mt-5">
                        <i class="fas fa-user-friends"></i>
                            <div class="detail">
                                <h4>Daha Fazla Kişiye Ulaşabilme Fırsatı</h4>
                            <p>Meslek sahiplerinin yaptıkları işler hakkında yapılan olumlu değerlendirmeler, onları daha fazla kişi tarafından keşfedilme fırsatı sunar.
                                Uygulamamız sayesinde, iyi hizmetleri olan meslek sahiplerinin daha fazla müşteriye ulaşmasına yardımcı olabiliriz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //why section -->

    <!-- content block1 -->
    <section class="w3l-content-block1 py-5" id="login">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="col-lg-6 col-md-8 title-content py-md-5">
                    <h3 class="title-style text-white">Kayıt Ol Ve Değerlendir</h3>               
                    <div class="mt-5" id="blur">
                    <a href="/Home/LoginRegister"><button id="show-login" onclick="toggle()" class="btn btn-style mt-4">Giriş Yap/Kayıt Ol</button></a>                      
                      </div>
                      @*<div class="popup">
                        <div class="close-btn" onclick="toggle()"><b>X</b></div>
                        <div class="form">
                          <h2>Giriş Yap</h2>
                          <div class="form-element">
                            <label for="email">Email</label>
                            <input type="text" id="email" placeholder="E-postanızı Giriniz">
                            <div class="form-element">
                              <label for="password">Şifre</label>
                              <input type="password" id="password" placeholder="Şifrenizi Giriniz">
                              <div class="form-element">
                              <a href="#"><button class="btn btn-style mt-4">Giriş Yap</button></a>  
                              </div>
                              <div class="form-control" style="border: none;">
                                <a style="text-align: center;"href="#">Kayıt Ol</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>*@
                </div>
            </div>
        </div>
    </section>
    <!-- //content block1 -->
@*<!-- footer -->
<footer class="w3l-footer-16">
    <div class="footer-top-16 py-5">
        <div class="container pt-lg-5 pt-md-4 pt-2 pb-lg-4 pb-2">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h3>About Us</h3>
                    <p>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nerihe re impedit quo
                        minus id qd maxime aceat facere.
                    </p>
                    <div class="columns-2 mt-4">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#google"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-6 column ps-xl-5 mt-sm-0 mt-4">
                    <h3>Quick Link</h3>
                    <ul class="footer-gd-16">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="classes.html">Classes</a></li>
                        <li><a href="#support">Support</a></li>
                        <li><a href="#blog">Blog Posts</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 column ps-xl-5 pe-lg-0 mt-lg-0 mt-4">
                    <h3>Contact Info</h3>
                    <ul class="footer-contact-list">
                        <li class="">
                            <i class="fas fa-map-marker-alt"></i><span>
                                10001,Atakum,
                                #32841 block, Türkiye
                            </span>
                        </li>
                        <li class="mt-2">
                            <i class="fas fa-phone-alt"></i><span>
                                <a href="#">
                                    054212345678
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 column mt-lg-0 mt-4 ps-xl-5">
                    <h3>Subscribe</h3>
                    <form action="#" class="subscribe d-flex" method="post">
                        <input type="email" name="email" placeholder="Email Address" required="">
                        <button class="button-style">
                            <span class="fa fa-paper-plane"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>
                </div>
            </div>
        </div>
    </div>

</footer>*@